@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

body {
    /* fallback for devices that do not support dvh units */
    min-height: 100vh;
    height: auto;
    /* min-height: 100dvh; */
    background-image: url("bg.jpeg");
    background-size: cover;
    /* Cover the entire body */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    margin: 0;
    /* Remove default margin */
}

.button-slate {
    border: 1px solid gray;
    font-weight: 390;
}

.button-slate:hover {
    font-weight: 400;
    background-color: rgb(204, 218, 233);
}

.button-slate:active {
    background-color: rgb(166, 191, 218);
}

.row {
    margin-top: 70px;
    padding:0px 40px;

}

.img1 {
    height: 700px;
    width: 650px;
}

.button-white {
    /* border: 1px solid rgb(39, 39, 39); */
    font-weight: 590;
    background-color: rgb(236, 233, 233) !important;
    width: 150px;
    height: 60px;
}

.button-white:hover {
    font-weight: 580;
    background-color: rgb(217, 216, 216) !important;
}

.button-white:active {
    background-color: rgb(236, 233, 217) !important;
}

.heading {
    font-size: 45px;
    font-weight: bold;
}

.c-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
    word-spacing: 10px;
}
.c-1 .para{
    font-size: 23px;
}